# ------------------------------------------------------------------------------
#  (c) Crown copyright Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------

name: Publish Sphinx Docs

on:
  workflow_call:

  inputs:
   docs-directory:
      description: 'Directory containing the documentation to build'
      required: true
      type: string

   requirements:
      description: 'The path to the requirements file to install dependencies from'
      required: false
      type: string
      default: 'dependencies/build-sphinx-docs/requirements.txt'

jobs:

  build-sphinx-html:
     name: HTML Docs
     runs-on: ubuntu-24.04
     steps:

        - id: extract
          name: Extract repo
          uses: actions/checkout@v4

        - id: setup_environment
          name: Setup Python environment
          uses: actions/setup-python@v5
          with:
            python-version: '3.12'

        - id: caching
          name: Cache pip
          uses: actions/cache@v4
          with:
            path: ~/.cache/pip
            key: ${{ runner.os }}-pip-${{ hashFiles(${{ inputs.requirements }}) }}
            restore-keys: |
              ${{ runner.os }}-pip-

        - id: finetune_environment
          name: Install Python packages
          run: |
            python3 -m pip install --upgrade pip && python3 -m pip install -r ${{ inputs.requirements }}

        - id: sphinx_build
          name: Build sphinx HTML docs
          working-directory: ${{ inputs.docs-directory }}
          run: make html

        - id: permissions
          name: Set permissions
          run: chmod -c -R +rX "${{ inputs.docs-directory }}/build/html"

        - id: deploy
          name: Upload artifact
          if: ${{ (github.event_name == 'push' || github.event_name == 'merge_group') && github.ref_name == 'main'}}
          uses: actions/upload-pages-artifact@v3
          with:
             name: github-pages
             path: ${{ inputs.docs-directory }}/build/html
             retention-days: 1

  deploy-sphinx-docs:

     environment:
       name: github-pages

     permissions:
        pages: write
        id-token: write

     runs-on: ubuntu-24.04
     needs: build-sphinx-html
     steps:

        - name: Configure GitHub Pages
          id: Configure
          uses: actions/configure-pages@v4

        - name: Deploy to GitHub Pages
          id: Deploy
          uses: actions/deploy-pages@v4
