name: Demo Callable Workflow

on:
  workflow_call:
    inputs:
      name:
        description: 'Name to greet'
        required: true
        default: 'World'
        type: string
jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Greet the user
        run: echo "Hello, ${{ inputs.name }}!"
        