# ------------------------------------------------------------------------------
#  (c) Crown copyright Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------

name: Deploy Sphinx Docs

on:
  workflow_call:

jobs:

  deploy-sphinx-docs:

     name: deploy sphinx docs to github pages
     # Defines the deployment target as GitHub Pages
     environment:
       name: github-pages

     permissions:
        pages: write
        id-token: write

     runs-on: ubuntu-24.04
     needs: build-sphinx-html
     steps:
        # Configuration and deployment to GitHub Pages
        - name: Configure GitHub Pages
          id: Configure
          uses: actions/configure-pages@v4

        - name: Deploy to GitHub Pages
          id: Deploy
          uses: actions/deploy-pages@v4
