# ------------------------------------------------------------------------------
#  (c) Crown copyright Met Office. All rights reserved.
#  The file LICENCE, distributed with this code, contains details of the terms
#  under which the code may be used.
# ------------------------------------------------------------------------------

name: Fortran lint
on:
  workflow_call:
    inputs:
      runner:
        description: "The runner to use for the job"
        required: false
        type: string
        default: "ubuntu-latest"
      timeout:
        description: "The maximum time in minutes the job can run for"
        required: false
        type: number
        default: 10
      python-version:
        description: "The Python version to use"
        required: false
        type: string
        default: "3.14"

jobs:
  fortitude-linting:
    name: Fortran lint
    runs-on: ${{ inputs.runner }}
    timeout-minutes: ${{ inputs.timeout }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}

      - name: Cache pip packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ inputs.python-version }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: minimize pip cache
        run: python -m pip cache purge || true

      - name: Install Fortitude Linter
        run: |
          python -m pip install --upgrade pip
          python -m pip install fortitude-lint==0.7.3

      - name: Run Fortitude Linter
        run: fortitude check --respect-gitignore --show-fixes --file-extensions=f90,F90,x90,X90 .
