name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions: read-all

jobs:

  validate:
    name: QC
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version:
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v5

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync

      - name: YAML Lint
        run: uv run yamllint -s .

      - name: Python Lint
        if: always()
        run: uv run ruff check --respect-gitignore .
      - name: Python Format Check
        if: always()
        run: uv run ruff format --check --diff -s --respect-gitignore .

      - name: Shell Check
        if: always()
        shell: bash
        run: |
          mapfile -d '' potential_files < <(
            find . -type f \( -name "*.*sh" -o ! -name "*.*" \) \
            -not -path "*.git/*" -not -path "*.venv/*" -print0
          )
          if [ ${#potential_files[@]} -eq 0 ]; then
            echo "No shell scripts to check."
            exit 0
          fi
          find . -type f \( -name "*.*sh" -o ! -name "*.*" \) \
            -not -path "*.git/*" -not -path "*.venv/*" -print0 \
            | xargs -0 file | grep "shell script" | cut -d: -f1 \
            | xargs -r uv run shellcheck -S warning \
            && echo "All checks passed!"
        continue-on-error: true

      - name: Minimize uv cache
        run: uv cache prune --ci
        continue-on-error: true
